.sign-in-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 61px);
}

.sign-in-component {
    display: flex;
    justify-content: right;
    height: 897px;
    padding-right: 300px;
    background-color: yellow;
}

.form-login {
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    width: 100vw;
}

.text-login {
    font-size: 25px;
    text-align: left;
    width: 350px;
    margin-bottom: 10px;
    font-family: Bahnschrift;
    font-weight: bold;
}

.champs-login {
    margin-top: 25px;
    border-bottom: #0b1a3b solid;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 2px;
    background-color: #eeeeee;
}

.btn-sumbit-login {
    border: #293a68 solid 2px;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 125px;
    margin-right: 125px;
    justify-content: center;
    background-color: #293a68;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sign-in-css {
    border: solid;
    border-width: 0px;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background-color: #ffffff;
}

.sign-up-css {
    border: solid;
    border-width: 0px;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    background-color: #ffffff;
}

.backgroundImage{
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("public/amphi.jpeg");
}